a {
	text-decoration-line: none;
}
nav {
	background-color: tomato;
	color: #f2f2f2;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%
}
nav a {
 	float: right;
 	color: #f2f2f2;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;
	font-size: 18px;
}
nav p {
	float: left;
 	color: #f2f2f2;
	text-align: center;
	padding: 0 16px;
	text-decoration: none;
	font-size: 18px;
}
nav a:hover {
	background-color: #ce1818;
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
body {
	margin: 0;
	color: #d9d9d9;
	font-family: 'Ubuntu', sans-serif;
	background-color: darkcyan;
}
#main {
	margin-top: 80px;
	text-align: center;
}
#about {
	background-color: #fffdd0;
	color: black;
	width: 100%;

}
#aboutcontent {
	padding: 20px;
	padding-bottom: 40px;
}
.weblink {
	padding: 10px;
	border: solid black 2px;
}
#contact {
	text-align: center;
}







#spread_hiv, #hiv_medication{
	margin: 0 auto;
	text-align: center;
	background-color: #00a5a5;
	color: black;
	width: 95%;
	border-style: solid;
	border: 2px;
	border-radius: 9px;
	padding: 10px;
	margin-bottom: 20px;
}

#what_hiv {
	color: white;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}
ol {
	list-style-position: inside;
}

#left_section, #right_section{
	background-color: #00d8d8;
	border-radius: 9px;
	padding: 20px;
}
#hiv_title{
	text-shadow: 2px 2px grey;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-size: 25px;
}
