html {
    height: 100%;
    scroll-behavior: smooth;
}
a {
	text-decoration-line: none;
}
nav {
	background-color: tomato;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
 	float: right;
 	color: black;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;
	margin: auto 10px;
	font-size: 18px;
}
nav p {
	float: left;
 	color: black;
	text-align: center;
	padding: 0 16px;
	text-decoration: none;
	font-size: 18px;
}
nav a:hover {
	background-color: #ce1818;
}
nav a.active {
	background-color: #4CAF	50;
	color: white;
}
body {
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	background-color: darkcyan;
	text-align: center;
}
#main {
	margin-top: 75px;
	text-align: center;
	height: 90%;
}
#about {
	background-color: #fffdd0;
	color: black;
	width: 100%;
	height: 220px;
}
#aboutcontent {
	padding: 20px;
	padding-bottom: 40px;
	color:black;

}
.weblink {
	padding: 15px;
	padding: 10px;
	border: solid black 2px;
	color: black;
}
.weblink:hover {
	background-color: black;
	color: white;
}
#contact .weblink {
	border: solid rgb(230,230,230) 2px;
	color: rgb(230,230,230);
}
#contact .weblink:hover {
	background-color: rgb(230,230,230);
	color: black;
}
#contact {
	text-align: center;
	background-color: slategray;
	padding-top: 10px;
	color: rgb(230,230,230);
	height: 975px;
}
#contact:after {
	content: "";
	display: table;
 	clear: both;
}
#head {
	text-shadow: 2px 2px gray;
}
#solution {
	padding-top: 10px;
	margin-top: -22px;
	width: 100%;
	background-color: #ffee3d;
	color: black;
	height: 380px;
}
.column {
  float: left;
  width: 25%;
}
.icon {
	display: none;
}
.idv {
	width: 50%;
	height: 40%;
}
#group {
	width: 50%;
	height: 45%
}
@media only screen and (max-width: 675px) {
	nav {
		height: 50px;
	}
	#links {
  		display: none;
  	}
	img {
		max-width: 100%

	}
}
#spread_hiv, #hiv_medication, .aboutsec1, .aboutsec2{
	margin: 0 auto;
	text-align: center;
	background-color: #fff5e2;
	color: black;
	padding: 10px;
	margin-bottom: 20px;

}

#what_hiv {
	color: black;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
}
ol {
	list-style-position: inside;
}

.aboutsec1, .aboutsec2, .spread_info, .stat_info{
	border-radius: 9px;
	padding: 20px;
	margin-bottom: 10px;
	text-align: left;
	background: linear-gradient(to bottom, #FFEFBA, #FFFFFF);
}
.aboutsec1{
	float: left;
	width:46%;
}
.aboutsec2{
	float: right;
	width: 46%;
}
body {
	background:linear-gradient(to bottom, #d9a7c7, #fffcdc);
}
#hiv_title{
	text-shadow: 2px 2px grey;
	text-align: center;
	margin-top: 100px;
	color: white;
	font-size: 25px;
}
#hiv_medication{
	padding-bottom: 400px;
}

#graphs{
	text-align: left;
	margin-bottom: 20px
	margin: 0 auto;
	padding: 10px;
	color: black;
	background: linear-gradient(to bottom, #FFEFBA, #FFFFFF);
}
