html {
    height: 100%;
}
a {
	text-decoration-line: none;
}
nav {
	background-color: tomato;
	color: #f2f2f2;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
 	float: right;
 	color: #f2f2f2;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;
	font-size: 18px;
}
nav p {
	float: left;
 	color: #f2f2f2;
	text-align: center;
	padding: 0 16px;
	text-decoration: none;
	font-size: 18px;
}
nav a:hover {
	background-color: #ce1818;
}
nav a.active {
	background-color: #4CAF50;
	color: white;
}
body {
	height: 100%;
	margin: 0;
	color: #d9d9d9;
	font-family: 'Ubuntu', sans-serif;
	background-color: darkcyan;
}
#main {
	margin-top: 80px;
	text-align: center;
	height: 100%;
}
#about {
	background-color: #fffdd0;
	color: black;
	width: 100%;

}
#aboutcontent {
	padding: 20px;
	padding-bottom: 40px;
}
.weblink {
	padding: 15px;
	border: solid black 2px;
}
#contact {
	text-align: center;
}